* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f6f8f9;
}

/*  HEADER */
header {
    background-color: white;
    padding: 10px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo.text {
    font-size: 40px;
}

/* MAIN */
.button {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.blue {
    color: white;
    background-color: #47adf1;
}

.grey {
    color: #dbe0e2;
    border: 1px solid;
}